.counter-wrap{
  margin-bottom: 10px;
  user-select: none;
}
.counter-wrap span{
  display: inline-block;
  margin: 0 10px;
}
.increment,
.decrement{
  padding: 5px 10px;
  border: 1px solid #eee;
  cursor: pointer;
}
.num{
  width: 50px;
  text-align: center;
}